<!-- File created 10/21 by Quantez Merchant -->

<% data.teaching.each do |line| %>
    <details>
      <summary><%=line[0]%></summary>
      <br>
      <p><%=line[1]%></p>        
    </details>
<% end %>
