<!--File created 10/18 by Gavin Amain
    File edited 10/20 by Gavin A: Added some css styling for the grid layout and title
    File edited 10/23 by Gavin A: Now uses 5 columns for each direction 
                                Added image of dreese lab 
                                Removed p tag-->
    <div class="subgrid"> 
        <div class="top"> 
            <h1>Directions To My Office</h1> <br> Finding your way to The Ohio State University is easy. It is in the center of Columbus, slightly north of downtown.
        </div>
        <div class="d1">
            From the <strong>north:</strong><br>
            Take any major highway to I-270.<br>Take I-270 to SR 315 south.<br>From SR 315 south, exit at Lane Avenue.
        </div>
        <div class="d2">
            From the <strong>south:</strong><br>
            Take any major highway to I-71 north.<br>Take I-71 north to SR 315 north.<br>Exit at Lane Avenue.
        </div>
        <div class="d3">
            From the <strong>west:</strong><br>
            Take any major highway to I-70 east.<br>Take I-70 east to SR 315 north.<br>Exit at Lane Avenue.
        </div>
        <div class="d4">
            From the <strong>east:</strong><br>
            Take any major highway to I-70 west.<br>Take I-70 west to SR 315 north.<br>Exit at Lane Avenue.
        </div>
        <div class="d5">
            From <strong>Port Columbus International Airport:</strong><br>
            Take I-670 west to I-71 south.<br>Take I-71 south to I-70 west.<br>Take I-70 west to SR 315 north.<br>Exit at Lane Avenue.
        </div>
        <div class="end">
            <strong>From the Lane Avenue exit:</strong>
            <ol>
                <li>Take Lane Avenue (going east into OSU) over the bridge until you reach Tuttle Park Place road.</li>
                <li>Take a right onto Tuttle Park Place road and continue down (shortly) through the big 4-way intersection <br>(intersecting with Woody Hayes Dr.).</li> 
                <li>Shortly after the intersection you will see a large parking garage on your left (with an immediate entrance into the garage from the road)<br>named "Tuttle Garage" (2050 Tuttle Park Pl). </li>
                <li>The OSU Stadium will be directly on your right. Enter this garage and take the ticket to park your car<br>(Note that there is a charge to park anywhere on campus). </li>
            </ol>
            I am located in office 491 Dreese Labs, directly adjacent (behind) to the parking garage. It is the tallest red brick building in the immediate area. It also has a characteristic white "spool" on the very top of the building.
            <br>
            Dreese Labs (building 279) and the parking garage (building 088) are shown on this helpful <a href="http://www.osu.edu/map/building.php?building=279">map</a>.<br>
            <a href="https://www.google.com/maps/@40.0025045,-83.0160397,18.73z"><img src="images/directions.jpg" alt="Image: Dreese Lab and Tuttle Garage"></a>
        </div>
    </div>
