<!-- File created 10/19 by Amyas Dawson 
File edited 10/23 by Gavin A: Removed invalid tags and unnecessary info at the bottom
File edited 10/24 by Gavin A: Removed and replaced more invalid tags, reformatted html docs
File edited 10/24 by Roberto D: Fixed issues with HTML validator. Updated outdated tags to preferred tags.Added icons--> 

<div class="syllabus">
    <h1>AI / MACHINE LEARNING / COMPUTER VISION</h1><br>

    <strong>Introduction</strong>
    <br>
    <table>
    <tbody>
    <tr>
    <td>

    Jim Davis is a Full Professor in the Dept. of Computer Science and Engineering. He received his Ph.D. from the Massachusetts Institute of Technology. 
    <strong>RESEARCH:</strong> His main research areas include Computer Vision, Artificial Intelligence, and Machine Learning with a focus on image/video analysis. He has received over $5M in research funding (to date) from the National Science Foundation (including a prestigious CAREER award), U.S. Air Force, Los Alamos National Lab, U.S. Army Night Vision Laboratory, Intel, and Ohio Board of Regents. 
    <strong>TEACHING:</strong> Prof. Davis offers classes in Computer Vision and Artificial Intelligence at Ohio State University.
    <strong>SERVICE:</strong> In addition to his Full Professor duties and service in the professional societies, he also serves in the CSE Dept. as the Coordinator for Undergraduate Research and was the past Chair of the Computer and Space Committee.</td></tr>
    </tbody></table>
    <br>

    <div class="dropdowns">
    <details>
    <summary><strong>Appointments</strong></summary>
    <table>
    <tbody><tr>
    <td>
    <ul>
    <li>Present: Full Professor, Dept. of Computer Science and Engineering, OSU</li>
    <li>Present: Coordinator, Undergraduate Research (CSE), OSU [<a href="https://cse.osu.edu/current-students/undergraduate-research">website</a>]</li>
    <li>2012 - 2021: Chair, Computer and Space Committee (CSE), OSU</li>
    <li>2005 - 2013: Associate Professor, Dept. of Computer Science and Engineering, OSU</li>
    <li>2000 - 2005: Assistant Professor, Dept. of Computer Science and Engineering, OSU</li>
    </ul>
    </td>
    </tr>
    </tbody></table></details>

    <details>
    <summary><strong>Consulting</strong></summary>
    <table>
    <tbody><tr>
    <td>
    <ul>
    <li>2020 - present: <a href="https://www.mimecast.com/">Mimecast</a></li>
    <li>1997 - 1998: <a href="https://sites.disney.com/waltdisneyimagineering/">Walt Disney Imagineering</a></li>
    </ul>
    </td>
    </tr>
    </tbody></table></details>

    <details>
    <summary><strong>Education</strong></summary>
    <table>
    <tbody><tr>
    <td>
    <ul>
    <li>Massachusetts Institute of Technology, Ph.D., 2000</li>
    <li>Massachusetts Institute of Technology, M.S., 1996</li>
    <li>University of Central Florida, B.S., 1994</li>
    <li>Eastern Florida State College (BCC), A.A., 1992</li>
    </ul>
    </td>
    </tr>
    </tbody></table></details>

    <details>
    <summary><strong>Media and Press</strong></summary>
    <table>
    <tbody>
    <tr>
    <td>
    
    <details>
    <summary><strong>TV/Video</strong>:</summary>
    <ul>
    <li><strong>NPR</strong> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 02/12/19)</li>
    <li><strong>NPR</strong> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)</li>
    <li><strong>NPR</strong> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)</li>
    <li><strong>iMix, Big10 TV Network</strong>, "Smart Surveillance" (initially aired 7/28/09)</li>
    <li><strong>10TV news (CBS)</strong>, "Smart Technology Being Used at Ohio State" (Aired 07/17/09)</li>
    <li><strong>OSU Video</strong>, "Better Eyes" (released January 9, 2009)</li>
    <li><strong>OSU Video</strong>, "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)</li>
    <li><strong>Frontline</strong>: "Spying on the Home Front" (Aired 05/15/07)</li>
    <li><strong>Fox-28/ABC-6 News</strong>, "They're Watching You" (Aired 05/10/04)</li> 
    <li><strong>Fox-28/ABC-6 News</strong>, Interview on thermal technology (Aired 05/08/03, 05/09/03)</li>
    <li><strong>NBC-4 News</strong>, (aired 05/09/03)</li> 
    <li><strong>CBS-10 News</strong>, (aired 05/04/03)</li> 
    <li><strong>OSU Video</strong>,"Researcher developing video technology for surveillance: 
    <em>Cameras being trained to `see' people and recognize their activities</em>" (released 04/30/03)</li>
    </ul></details>

    <details>
    <summary><strong>Radio</strong>:</summary>
    <ul>
    <li><strong>NPR</strong> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 02/12/19)</li>
    <li><strong>NPR</strong> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)</li>
    <li><strong>NPR</strong> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)</li>
    <li><strong>AAAS Science Update</strong> radio feature, 
    "Internet Video: A new technology could make watching video on the Internet less frustrating" 
    (aired January 12, 2005)</li>
    </ul></details>
    
    <details>
    <summary><strong>Print</strong>:</summary>
    <ul>

    <li><strong>StateTech Magazine</strong>, "DHS Researches Overcoming Occlusions in Video Surveillance for Public Safety," August 1, 2022 <a href="https://statetechmagazine.com/article/2022/08/dhs-researches-overcoming-occlusions-video-surveillance-public-safety"><span class="material-icons">open_in_new</span></a></li>

    <li><strong>Security Dealer &amp; Integrator</strong>, "Eye on Troublesome Patterns," May 25, 2011</li>

    <li><strong>Popular Mechanics</strong>, "PM's Guide to the Best in Home Surveillance Gear," April 6, 2011 <a href="http://www.popularmechanics.com/technology/gadgets/reviews/pms-guide-to-the-best-in-home-surveillance-gear"><span class="material-icons">open_in_new</span></a></li>


    <li><strong>The Why Files: the Science Behind the News</strong>, "Video Surveillance: Who is Watching You, and Why," March 11, 2010 <a href="http://whyfiles.org/323cyberspies/index.php?g=2.txt"><span class="material-icons">open_in_new</span></a></li>

    <li><strong>Electrical Contractor</strong> magazine, "Surveillance with Smarts," February 2010, p. 50</li>

    <li><strong>OSU Alumni Magazine</strong>, Research Report Article, "Eye in the Sky",  May/June, 2009, page 30</li>


    <li><strong>OSU News In Engineering</strong> Research Update article,
    "Intelligent Surveillance Could Aid Law Enforcement", Vol. 81, No. 1, 2009</li>


    <li><strong>SPIE Newsroom</strong>: Electronic Imaging &amp; Signal Processing,
    "A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery" (February 25, 2009)
    <a href="http://spie.org/x33833.xml?highlight=x2410&amp;ArticleID=x33833"><span class="material-icons">open_in_new</span></a></li>


    <li><strong>Photonics Spectra</strong>, Tech News, "Neighborhood Watch, Sans Neighbors" (February, 2009; pp. 18-20)</li>
    


    <li><strong>MSNBC</strong>, Technology &amp; Science, "Computer has eye for Suspicious Behavior" (January 26, 2009)
    <a href="http://www.msnbc.msn.com/id/28566179/"><span class="material-icons">open_in_new</span></a></li>
    

    <li><strong>Columbus Dispatch</strong>, "Computers Might Spot People up to no Good" (January 24, 2009)</li>
    

    <li><strong>onCampus</strong>, Discovery Briefs, "'Smart' Surveillance System May Tag Suspicious or Lost People" (January 8, 2009)</li>
    

    <li><strong>UWeekly</strong> "Big Brother No, Smart Camera Yes" (February 18, 2009)</li>
    


    <li><strong>The Lantern</strong>, "Under Surveillance" (January 27, 2009)</li>
    

    <li><strong>The Lantern</strong>, "'Smart' Cameras are Watching You" (January 9, 2009)</li>
    

    <li><strong>OSU News Release</strong>, "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)
    </li>
    

    <li><strong>The Economist</strong>, Science &amp; Technology section, "Surveillance Technology: If Looks Could Kill", October 23, 2008</li>

    <li><strong>OSU CSE Newletter</strong>, Focus on Research Article, "Jim Davis: Vision for the Future of Surveillance",  Autumn 2007, pages 2-3</li>

    <li><strong>OSU Alumni Magazine</strong>, Research Report Article, "Watch the Hands and Face",  May/June, 2005, page 8</li>

    <li><strong>OSU News In Engineering</strong> Research Update article,
    "Advancing Technologies for Internet Video", Vol. 77, No. 1, Spring 2005</li>

    <li><strong>ACM TechNews</strong> Feature, "Researchers Find Way to Make Internet Video More Appealing", 
    Vol. 6, Issue 734, December 22, 2004</li>

    <li><strong>OSU News Release</strong>, "Researchers find way to make internet video more appealing" (released 12/21/04)
    </li>

    <li><strong>Homeland Security &amp; Defense</strong>, "HSARPA seeking video software technology to interpret complex surveillance stream",
    Vol. 3, No. 16, April 21, 2004</li>

    <li><strong>Columbus Business First</strong>, Tech Now feature article, "Hot on Surveillance: Thermal technology grows in popularity, 
    importance in post-911 world", Vol. 20, No. 7, Oct. 17, 2003
    </li>
    </ul>

    </details>

    </td>
    </tr>
    </tbody></table></details>



    <details>
    <summary><strong>Noteworthy</strong></summary>
    
    <table>
    <tbody><tr>
    <td>
        <ul>

    <li><strong>Best Paper Award</strong>: "Learning When to Say 'I Don't Know'", <em>International Symposium on Visual Computing</em>, Octobober 2022.</li>

    <li><strong>Advisor/Consultant</strong> to Pretaa (2022-current).</li> 

    <li><strong>"Confident AI"</strong> invited talk at Mimecast (03/10/22), Rochester Institute of Technology (03/30/22), Pretaa (06/10/22).

    </li><li><strong>Consultant</strong> to Mimecast (2020-2021).</li> 

    <li> Recipient of 2019 Lutron Electronic’s <strong>Ruth and Joel Spira Teaching Award</strong>.</li> 

    <li> Recipient of 2015 OSU College of Engineering <strong>Innovators Award</strong>.</li>

    <li>Launched Polarity Maximizer <strong>commercial software</strong> and Audiomere (<a href="http://www.Audiomere.com">www.Audiomere.com</a>).</li>

    <li>Promoted to <strong>Full Professor</strong>, September 2013.</li>

    <li>Recipient of 2012 OSU College of Engineering <strong>Lumley Research Award</strong>.
    </li>

    <li><strong>Chair</strong>, <strong>Computer Committee</strong>, 2012 - 2021.</li>

    <li><strong>Workshop co-Chair</strong>, <em>IEEE Conference on Computer Vision and Pattern Recognition</em> (2014).</li>


    <li><strong>Best Paper Award</strong>: "Attention-based Target Localization using Multiple Instance Learning", <em>International Symposium on Visual Computing</em>, November 2010.</li>

    <li><strong>IEEE Computer Vision and Pattern Recognition Reviewer Award</strong> 2010.</li>

    <li><strong>CSE Teaching Award</strong> 2009-2010.</li>

    <li><strong>Co-Program Chair</strong>, <em>IEEE International Conference on Advanced Video and Signal based Surveillance</em> (Sept. 2010).</li>

    <li><strong>Co-General Chair</strong>, <em>IEEE Workshop on Motion and Video Computing</em> (Dec. 2009).</li>

    <li>Co-Chair, for <em>IEEE Workshop on
    Object Tracking and Classification in and Beyond the Visible Spectrum</em> (OTCBVS), June 22, 2006.</li>

    <li>Promoted to <strong>Associate Professor with Tenure</strong>, October 2005.</li>

    <li><strong>Guest Editor</strong> (w/ Riad Hammoud) for CVIU Special Issue on 
    <em>Advances in Vision Algorithms and Systems Beyond the Visible Spectrum</em>. 
    </li>

    <li>Appointed as <strong>Associate Editor</strong> for <em>Machine Vision and Applications</em> journal (May 2005).</li> 

    <li>Recipient of 2005 OSU College of Engineering <strong>Lumley Research Award</strong>.
    </li>


    <li>Benchmark and Website <strong>Chair</strong> for <em>IEEE Workshop on
    Object Tracking and Classification in and Beyond the Visible Spectrum</em> (OTCBVS), June 2005.</li>


    <li>Recipient of 2003 <strong>NSF Career Award</strong> (March 2003).</li>


    <li><strong>Lockheed-Martin Best Paper Award: </strong>"A Three-Mode Expressive Feature Model of Action Effort", <em>IEEE Workshop on Motion and Video Computing</em>, Dec. 5-6, 2002, pp. 139-144.</li> 
    </ul>
    </table></details>
    </div>
</div>