---
title: "CSE 5524 Materials"
---
<!-- File created 10/20 by Quantez Merchant 
     File edited 10/23 by Quantez Merchant: Added title data 
     File edited 10/23 by Gavin A: Fixed css grid styling--> 
<div class="syllabus">
  <div class="centertext">
    <p> CSE 5524 Materials and TENTATIVE Detailed Schedule<br> 
      <strong>Computer Vision for Human-Computer Interaction</strong> 
    </p>
    </div>
    <p> 
      <br> 
      <br>
    <div class ="mattable">
    <table>
      <tbody>
        <tr>
          <td><strong>Time/Place:</strong></td>
          <td>Tues/Thurs, 9:35am - 10:55am, DL480</td>
        </tr>
        <tr>
          <td></td>
          <td>Tues/Thurs, 12:45pm-2:05pm, DL480</td>
        </tr>
        <tr>
          <td><strong>Instructor:</strong></td>
          <td>Prof. Jim Davis, Office: DL491, Email: davis.1719</td>
        </tr>
        <tr>
          <td><strong>Grader/TA:</strong></td>
          <td>9:35am - 10:55am:<br>
            Aswathnarayan "Ash" Radhakrishnan (Email: radhakrishnan.39)<br>
            Office Hour: Mondays 10:30am-11:30am DL486
          </td>
        </tr>
        <tr>
          <td></td>
          <td>12:45pm - 2:05pm:<br>
            Reza Averly (Email: averly.1)<br>
            Office Hour: Mondays 3:30pm-4:30pm via Zoom (contact Reza directly for the Zoom link) or in-person (in BE406) by email request
          </td>
        </tr>
        <tr>
          <td><strong>Policy:</strong></td>
          <td>Labs and homework are due in Carmen before the class period starts on the due date.  
            No late homework or lab is accepted without substantial documentation of the reason.  
            Excuse from the quiz can be accepted only in case of personal sickness  
            requiring medical care or severe accidents in the immediate family.
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="centertable">
    <p> 
      <br> 
      <strong>Schedule:</strong> 
      <br> 
    </p>
      &nbsp;<br>
      <table>
        <tbody>
          <tr>
            <th>Week</th>
            <th>Day</th>
            <th>Date</th>
            <th>Topic</th>
            <th>Extra Reading</th>
            <th>HW Assigned</th>
          </tr>
          <tr>
            <td >1</td>
            <td>Tues</td>
            <td>8/23</td>
            <td><a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/Lectures/Introduction.pdf">Introduction</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td ></td>
            <td>Thurs</td>
            <td>8/25</td>
            <td><a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/Lectures/ImageFormation.pdf">Image Formation</a></td>
            <td>-</td>
            <td>
              <a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/HW/HW1/HW1.pdf">HW1</a>, <a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/HW/HW1/HW1.zip">HW1.zip</a><br> 
              [see: (<a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/HW/HW0/HW0.pdf">HW0</a>, <a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/HW/HW0/data.txt">data.txt</a>), (<a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/HW/HW0/hw0_report.pdf">hw0_report.pdf</a>, <a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/HW/HW0/hw0.zip">hw0.zip</a>)]
            </td>
          </tr>
          <tr>
            <td >2</td>
            <td>Tues</td>
            <td>8/30</td>
            <td><a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/Lectures/NoiseRemoval.pdf">Noise Removal</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>9/1</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/EdgeDetection.pdf">Edge Detection</a></td>
            <td>-</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW2/HW2.pdf">HW2</a>,
              <a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW2/HW2.zip">HW2.zip</a>
            </td>
          </tr>
          <tr>
            <td >3</td>
            <td>Tues</td>
            <td>9/6</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/ImagePyramids.pdf">Image Pyramids</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>9/8</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/RegionExtraction.pdf">Region Extraction</a></td>
            <td>-</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW3/HW3.pdf">HW3</a>, <a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW3/HW3.zip">HW3.zip</a></td>
          </tr>
          <tr>
            <td >4</td>
            <td>Tues</td>
            <td>9/13</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/2DShape.pdf">2-D Shape</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>9/15</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/PCA.pdf">PCA</a></td>
            <td>-</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW4/HW4.pdf">HW4</a>, <a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW4/HW4.zip">HW4.zip</a></td>
          </tr>
          <tr>
            <td >5</td>
            <td>Tues</td>
            <td>9/20</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/Motion.pdf">Motion</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>9/22</td>
            <td>Motion (con't)</td>
            <td>-</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW5/HW5.pdf">HW5</a>, <a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW5/HW5.zip">HW5.zip</a></td>
          </tr>
          <tr>
            <td >6</td>
            <td>Tues</td>
            <td>9/27</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/KLTTracking.pdf">KLT Tracking</a>, <a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/CovarianceTracking.pdf">Covariance Tracking</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>9/29</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/MeanShiftTracking.pdf">Mean-Shift Tracking</a></td>
            <td>-</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW6/HW6.pdf">HW6</a>, <a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW6/HW6.zip">HW6.zip</a></td>
          </tr>
          <tr>
            <td >7</td>
            <td>Tues</td>
            <td>10/4</td>
            <td>SPECIAL GUEST: Vita Berezina-Blackburn - Motion Capture</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>10/6</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/InteractiveApplications.pdf">Classic Interactive Applications</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >8</td>
            <td>Tues</td>
            <td>10/11</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/ImgSeg_TemplateMatching.pdf">Image Segmentation and Template Matching</a></td>
            <td>-</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW7/HW7.pdf">HW7</a>, <a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW7/HW7.zip">HW7.zip</a></td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>10/13</td>
            <td>FALL BREAK - NO CLASS </td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >9</td>
            <td>Tues</td>
            <td>10/18</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/InterestPoints.pdf">Interest Points</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>10/20</td>
            <td>Interest Points (con't)</td>
            <td>-</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW8/HW8.pdf">HW8</a>, <a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW8/HW8.zip">HW8.zip</a></td>
          </tr>
          <tr>
            <td >10</td>
            <td>Tues</td>
            <td>10/25</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/CamModelsCalibration.pdf">Camera Models and Calibration</a><br>[DISCUSS PROJECT]</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>10/27</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/ImageRegistration.pdf">Image Registration</a></td>
            <td>-</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW9/HW9.pdf">HW9</a>, <a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW9/HW9.zip">HW9.zip</a></td>
          </tr>
          <tr>
            <td >11</td>
            <td>Tues</td>
            <td>11/1</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/Stereo.pdf">Stereo Vision</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>11/3</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/ClassificationIntro.pdf">Classification Basics</a></td>
            <td>-</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW10/HW10.pdf">HW10</a>, <a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/HW/HW10/HW10.zip">HW10.zip</a></td>
          </tr>
          <tr>
            <td >12</td>
            <td>Tues</td>
            <td>11/8</td>
            <td>SPECIAL GUEST: Chris Wiegman - Applied Computer Vision: Agriculture<br>
              [PROJECT PROPOSALS DUE BY THIS DATE!]
            </td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>11/10</td>
            <td><a href="http://www.cse.ohio-state.edu/~jwdavis/Teaching/5524/Lectures/NeuralNetworks.pdf">Neural Nets</a>
            </td>
            <td>-</td>
            <td>[work on project]</td>
          </tr>
          <tr>
            <td >13</td>
            <td>Tues</td>
            <td>11/15</td>
            <td>Neural Nets</td>
            <td>-</td>
            <td>[work on project]</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>11/17</td>
            <td>Neural Nets</td>
            <td>-</td>
            <td>[work on project]</td>
          </tr>
          <tr>
            <td >14</td>
            <td>Tues</td>
            <td>11/22</td>
            <td>Neural Nets</td>
            <td>-</td>
            <td>[work on project]</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>11/24</td>
            <td>THANKSGIVING - NO CLASS</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >15</td>
            <td>Tues</td>
            <td>11/29</td>
            <td>Project Presentations</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >-</td>
            <td>Thurs</td>
            <td>12/1</td>
            <td>Project Presentations<br>
              [PROJECT REPORTS ARE DUE NOW!]
            </td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td >16</td>
            <td>Tues</td>
            <td>12/6</td>
            <td>QUIZ</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>