<!-- File created 10/19 by Roberto D 
File edited 10/20 by Roberto D
File edited 10/23 by Roberto D
File edited 10/24 by Gavin A: Removed centertext class from file--> 


<div class = "dropdowns">
    <h1>Publications by Year</h1>
    <details>
        <summary>2022</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Revisiting Batch Norm Initialization"<br>
                    <strong>J. Davis</strong> and L. Frank<br>
                    European Conference on Computer Vision, October 2022.<br>
                    <a href="https://arxiv.org/abs/2110.13989"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Learning When to Say <em>'I Don't Know'</em>"<br>
                    N. Kashani Motlagh, <strong>J. Davis</strong>, T. Anderson, and J. Gwinnup<br>
                    International Symposium on Visual Computing, October 2022.<br>
                    <span class="material-icons">star</span><strong> Best Paper Award </strong><span class="material-icons">star</span><br>
                    <a href="https://arxiv.org/abs/2209.04944"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "S-FINCH: An Optimized Streaming Adaptation to FINCH Clustering"<br>
                    J. Cunningham, <strong>J. Davis</strong>, K. Tarplee, and J. Vasquez<br>
                    <em>International Conference on Pattern Recognition</em>, August 2022.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/icpr_2022.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Confident AI"<br>
                    <strong>J. Davis</strong><br>
                    arXiv:2202.05957 [cs.AI], February 2022.<br>
                    <a href="https://arxiv.org/pdf/2202.05957"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2021</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "A Framework for Semi-automatic Collection of Temporal Satellite Imagery for Analysis of Dynamic Regions"<br>
                    N. Kashani Motlagh, A. Radhakrishnan, <strong>J. Davis</strong>, and R. Ilin<br>
                    <em>Learning to Understand Aerial Images</em> (ICCV Workshop), October 2021.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/iccv_luai.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Bottom-up Hierarchical Classification Using Confusion-based Logit Compression"<br>
                    T. Liang, <strong>J. Davis</strong>, and R. Ilin<br>
                    arXiv:2110.01756 [cs.LG], October 2021.<br>
                    <a href="https://arxiv.org/pdf/2110.01756"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            
            <tr>
                <td>
                    "Hierarchical Classification with Confidence using Generalized Logits"<br>
                    <strong>J. Davis</strong>, T. Liang, J. Enouen, and R. Ilin<br>
                    <em>International Conference on Pattern Recognition</em>, January 2021.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/icpr2021.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Confidence-Driven Hierarchical Classification of Cultivated Plant Stresses"<br>
                    L. Frank, C. Wiegman, <strong>J. Davis</strong>, and S. Shearer<br>
                    <em>Winter Conference on Applications of Computer Vision</em>, January 2021.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/wacv2021.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2020</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Posterior Adaptation With New Priors"<br>
                    <strong>J. Davis</strong><br>
                    arXiv:2007.01386 [cs.LG], July 2020.<br>
                    <a href="https://arxiv.org/pdf/2007.01386.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>    
                <td>
                    "A* Search: What’s in a Name?"<br>
                    <strong>J. Davis</strong> and J. Hachtel<br>
                    with P. Hart, N. Nilsson, and B. Raphael<br>
                    <em>Communications of the ACM</em>, January 2020, Vol. 63, No. 1, pp. 36-37.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/Astar-CACM.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2019</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Hierarchical Semantic Labeling With Adaptive Confidence"<br>
                    <strong>J. Davis</strong>, T. Liang, J. Enouen, and R. Ilin<br>
                    <em>International Symposium on Visual Computing</em>, October 2019.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/isvc19a.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "A Framework for Collecting and Classifying Objects in Satellite Imagery"<br>
                    A. Radhakrishnan, J. Cunningham, <strong>J. Davis</strong>, and R. Ilin<br>
                    <em>International Symposium on Visual Computing</em>, October 2019.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/isvc19b.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            
            <tr>
                <td>
                    "Tracking with Context in Wide Area Motion Imagery"<br>
                    R. Ilin, <strong>J. Davis</strong>, S. Lerner, J. Cunningham, and A. Radhakrishnan<br>
                    <em>MSS Passive Sensors Symposium</em>, February 2019.<br>
                </td>
                <td>
                    “Scene-Based Priors for Bayesian Semantic Image Segmentation”<br>
                    C. Menart, <strong>J. Davis</strong>, M. Akbar, and R. Ilin<br>
                    <em>International Journal of Smart Security Technologies</em>, 2019, Vol. 6, pp. 1-14.<br>
                </td>
            </tr>
        </table>
    </details>
            
    <details>
        <summary>2018</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "The AFRL-Ohio State WMT18 Multimodal System: Combining Visual with Traditional"<br>
                    J. Gwinnup, J. Sandvick, M. Hutt, G. Erdmann, J. Duselis, and <strong>J. Davis</strong><br>
                    <em>Conference on Machine Translation</em>, October 2018.<br> 
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2017</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "The AFRL-OSU WMT17 Multimodal Translation System: An Image Processing Approach"<br>
                    J. Duselis, M. Hutt, J. Gwinnup, <strong>J. Davis</strong>, and J. Sandvick<br>
                    <em>Conference on Machine Translation</em>, September 2017.<br> 
                </td>
            </tr>
        </table>
    </details>
            
    <details>
        <summary>2015</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Audiomere: Polarity Maximizer" [2015-2017]<br>
                    Commericialization of audio algorithm and software for multi-channel audio polarity optimization, 2015.<br>
                    <a href="http://www.audiomere.com">www.Audiomere.com</a><br>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2014</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "A Multi-Transformational Model for Background Subtraction with Moving Cameras"<br>   
                    D. Zamalieva, A. Yilmaz, and <strong>J. Davis</strong><br> 
                    <em>European Conference on Computer Vision</em>, September 2014.<br>
                </td>
                <td>
                    "Exploiting Temporal Geometry for Moving Camera"<br>
                    D. Zamalieva, A. Yilmaz, and <strong>J. Davis</strong><br> 
                    <em>International Conference on Pattern Recognition</em>, August 2014.<br>
                </td>
            </tr>
            <tr>
                <td>
                    "Temporally-Dependent Dirichlet Process Mixtures for Egocentric Video Segmentation"<br>
                    J. Barker and <strong>J. Davis</strong><br>
                    <em>IEEE Workshop on Egocentric Vision</em>, June 2014.<br>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2013</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Summarizing High-Level Scene Behavior"<br> 
                    K. Streib and <strong>J. Davis</strong><br>
                    <em>Machine Vision and Applications Journal</em>, 2013.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/MVA-13.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2012</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "One-Class Multiple Instance Learning and Applications to Target Tracking"<br> 
                    K. Sankaranarayanan and <strong>J. Davis</strong><br>
                    <em>Asian Conference on Computer Vision</em>, November 2012.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/ACCV-12.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Segmentation and Scene Modeling for MIL-based Target Localization"<br> 
                    K. Sankaranarayanan and <strong>J. Davis</strong><br>
                    <em>International Conference on Pattern Recognition</em>, November 2012.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/ICPR-12.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Detecting Behavioral Zones in Local and Global Camera Views"<br> 
                    M. Nedrich and <strong>J. Davis</strong><br>
                    <em>Machine Vision and Applications</em>, Vol. 23, 2012, pp. 1-27.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/MVA2012.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </details>
        
    <details>
        <summary>2011</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Recovery and Reasoning about Occlusions in 3D using Few Cameras
                    with Applications to 3D Tracking"<br> M. Keck and <strong>J. Davis</strong><br>
                    <em>International Journal of Computer Vision</em>, Vol. 95, Issue 3, 2011, pp. 240-264.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/IJCV2011.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Activity Analysis in Wide-Area Surveillance Video"<br>
                    R. Feather and <strong>J. Davis</strong><br>
                    OSU Dept. Computer Science and Engineering Technical Report OSU-CISRC-11/11-TR34, 2011.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/OSU-CISRC-11-11-TR34.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Object Association Across PTZ Cameras using Logistic MIL"<br>
                    K. Sankaranarayanan and <strong>J. Davis</strong><br>
                    <em>IEEE Conference on Computer Vision and Pattern Recognition</em>, June 2011.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/cvpr11b.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Using Ripley's K-function to Improve Graph-Based Clustering Techniques"<br>
                    K. Streib and <strong>J. Davis</strong><br>
                    <em>IEEE Conference on Computer Vision and Pattern Recognition</em>, June 2011.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/cvpr11a.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Camera Control and Geo-Registration for Video Sensor Networks"<br>
                    <strong>J. Davis</strong><br>
                    <em>Distributed Video Sensor Networks</em>, B. Bhanu (ed.), Springer, January 2011.<br>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2010</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Attention-based Target Localization using Multiple Instance Learning"<br>
                    K. Sankaranarayanan and <strong>J. Davis</strong><br>
                    <em>International Symposium on Visual Computing</em>, November 2010.<br>
                    <span class="material-icons">star</span><strong> Best Paper Award </strong><span class="material-icons">star</span><br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/isvc10a.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Learning Scene Entries and Exits using Coherent Motion Regions"<br>
                    M. Nedrich and <strong>J. Davis</strong><br>
                    <em>International Symposium on Visual Computing</em>, November 2010.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/isvc10b.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Exploiting Multiple Cameras for Environmental Pathlets"<br>
                    K. Streib and <strong>J. Davis</strong><br>
                    <em>International Symposium on Visual Computing</em>, November 2010.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/isvc10c.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "PTZ Camera Modeling and Panoramic View Generation via Focal Plane Mapping"<br>
                    K. Sankaranarayanan and <strong>J. Davis</strong><br>
                    <em>Asian Conference on Computer Vision</em>, November 2010.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/accv10.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Learning Directed Intention-driven Activities using Co-Clustering"<br>
                    K. Sankaranarayanan and <strong>J. Davis</strong><br>
                    <em>IEEE Conference on Advanced Video and Signal Based Surveillance</em>, August 2010.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/avss10b.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Extracting Pathlets From Weak Tracking Data"<br>
                    K. Streib and <strong>J. Davis</strong><br>
                    <em>IEEE Conference on Advanced Video and Signal Based Surveillance</em>, August 2010.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/avss10a.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Geo-registration and Interactive Control for Distributed Camera Networks"<br>
                    M. Nedrich, K. Sankaranarayanan, and <strong>J. Davis</strong><br>
                    OSU Dept. Computer Science and Engineering Technical Report OSU-CISRC-6/10-TR13, 2010.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/OSU-CISRC-6-10-TR13.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2009</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "How Panoramic Visualization can Support Human Supervision of Intelligent Surveillance"<br>
                    A. Morison, D. Woods, and <strong>J. Davis</strong><br>
                    <em>Annual Meeting of the Human Factors and Ergonomics Society</em>, October 2009.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/HFES09.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Human Detection and Tracking"<br>
                    <strong>J. Davis</strong>, V. Sharma, A. Tyagi, and M. Keck<br> 
                    <em>Encyclopedia of Biometrics</em>, S. Li (ed.), Springer, July 2009.<br>
                </td>
            </tr>
            <tr>
                <td>
                    "A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery"<br>
                    V. Sharma and <strong>J. Davis</strong><br>
                    <em>SPIE Newsroom: Electronic Imaging &amp; Signal Processing</em>, February 2009.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/SPIE09.pdf"><span class="material-icons">picture_as_pdf</span></a>,
                    <a href="http://spie.org/x33833.xml?highlight=x2410&amp;ArticleID=x33833"><span class="material-icons">open_in_new</span></a>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2008</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Feature-Level Fusion for Object Segmentation Using Mutual Information"<br>
                    V. Sharma and <strong>J. Davis</strong><br>
                    Book chapter in <em>Augmented Vision Perception in Infrared</em>, Springer, December 2008, pp. 295-319.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/avpi08.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "A Fast Linear Registration Framework for Multi-Camera GIS Coordination"<br>
                    K. Sankaranarayanan and <strong>J. Davis</strong><br>
                    <em>IEEE International Conference on Advanced Video and Signal Based Surveillance</em>, September 2008.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/avss08.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "3D Occlusion Recovery using Few Cameras"<br> 
                    M. Keck and <strong>J. Davis</strong><br>
                    <em>IEEE Conference on Computer Vision and Pattern Recognition</em>, June 2008.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/cvpr08-a.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "A Recursive Filter For Linear Systems on Riemannian Manifolds"<br>
                    A. Tyagi and <strong>J. Davis</strong><br>
                    <em>IEEE Conference on Computer Vision and Pattern Recognition</em>, June 2008.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/cvpr08-b.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "An Efficient Active Camera Model for Video Surveillance"<br>
                    K. Sankaranarayanan and <strong>J. Davis</strong><br>
                    <em>IEEE Workshop on Applications of Computer Vision</em>, January 2008.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/wacv08.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "A Context-Based Tracker Switching Framework"<br>
                    A. Tyagi and <strong>J. Davis</strong><br>
                    <em>IEEE Workshop on Motion and Video Computing</em>, January 2008.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/wmvc08a.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Steepest Descent For Efficient Covariance Tracking"<br>
                    A. Tyagi, <strong>J. Davis</strong>, and G. Potamianos<br>
                    <em>IEEE Workshop on Motion and Video Computing</em>, January 2008.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/wmvc08b.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2007</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Integrating Appearance and Motion Cues for Simultaneous Detection and Segmentation of Pedestrians"<br>
                    V. Sharma and <strong>J. Davis</strong><br>
                    <em>IEEE International Conference on Computer Vision</em>, October 2007.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/iccv07.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Kernel-Based 3D Tracking"<br>
                    A. Tyagi, M. Keck, <strong>J. Davis</strong>, and G. Potamianos<br>
                    <em>IEEE International Workshop on Visual Surveillance</em>, June 2007.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/vs07b.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Simultaneous Detection and Segmentation of Pedestrians using Top-down and Bottom-up Processing"<br>
                    V. Sharma and <strong>J. Davis</strong><br>
                    <em>IEEE International Workshop on Visual Surveillance</em>, June 2007.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/vs07a.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Background-Subtraction using Contour-based Fusion of Thermal and Visible Imagery"<br>
                    <strong>J. Davis</strong> and V. Sharma<br>
                    <em>Computer Vision and Image Understanding</em>, Vol. 106, No. 2-3, 2007, pp. 162-182.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/cviu07.pdf"><span class="material-icons">picture_as_pdf</span></a>,
                    <a href="http://dx.doi.org/10.1016/j.cviu.2006.06.010"><span class="material-icons">open_in_new</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "An Adaptive Focus-of-Attention Model for Video Surveillance and Monitoring"<br>
                    <strong>J. Davis</strong>, A. Morison, and D. Woods<br>
                    <em>Machine Vision and Applications</em>, Vol. 18, No. 1, 2007, pp. 41-64.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/mva07.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Building Adaptive Camera Models for Video Surveillance"<br>
                    <strong>J. Davis</strong>, A. Morison, and D. Woods<br>
                    <em>IEEE Workshop on Application of Computer Vision</em>, February 2007.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/wacv07a.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Extraction of Person Silhouettes from Surveillance Imagery using MRFs"<br>
                    V. Sharma, <strong>J. Davis</strong>, and A. Tyagi<br>
                    <em>IEEE Workshop on Application of Computer Vision</em>, February 2007.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/wacv07b.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>                       
                <td>
                    "Fusion of Multiple Camera Views for Kernel-Based 3D Tracking"<br>
                    A. Tyagi, G. Potamianos, <strong>J. Davis</strong>, and S. Chu<br>
                    <em>IEEE Workshop on Motion and Video Computing</em>, February 2007.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/wmvc07.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Coverage Optimization to Support Security Monitoring"<br>
                    A. Murray, K. Kim, <strong>J. Davis</strong>, R. Machiraju, R. Parent<br>
                    <em>Computers, Environment and Urban Systems</em>, Vol. 31, 2007, pp. 133-147.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/ceus07.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>                            
                <td>
                    "Background-Subtraction in Thermal Imagery Using Contour Saliency"<br>
                    <strong>J. Davis</strong> and V. Sharma<br>
                    <em>International Journal of Computer Vision</em>, Vol. 71, No. 2, 2007, pp. 161-181. (online version June 2006)<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/ijcv07.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2006</summary>
        <table class = "pubtable">  
            <tr>
                <td>
                    "Tracking Mean Shift Clustered Point Clouds for 3D Surveillance"<br> 
                    M. Keck, <strong>J. Davis</strong>, and A. Tyagi<br> 
                    <em>ACM Multimedia Workshop on Video Surveillance and Sensor Networks</em>, October 2006, pp. 187-194.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/vssn06b.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Multiview Fusion for Canonical View Generation based on Homography Constraints"<br> 
                    A. Tyagi, <strong>J. Davis</strong>, and M. Keck<br> 
                    <em>ACM Mulimedia Workshop on Video Surveillance and Sensor Networks</em>, October 2006, pp. 61-69.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/vssn06a.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Minimal-Latency Human Action Recognition using Reliable-Inference"<br>
                    <strong>J. Davis</strong> and A. Tyagi<br>
                    <em>Image and Vision Computing</em>, Vol. 24, 2006, pp. 455-472.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/ivc06.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Human Activity Recognition for Synthesis"<br>
                    Y. Chen, R. Parent, R. Machiraju, and <strong>J. Davis</strong><br> 
                    <em>IEEE Workshop on Learning, Representation, and Context for Human Sensing in Video</em>, New York, NY, June 22, 2006.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/lrchsv06.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Feature-level Fusion for Object Segmentation using Mutual Information"<br>
                    V. Sharma and <strong>J. Davis</strong><br>
                    <em>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum</em>, 
                    New York, NY, June 22, 2006.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/otcbvs06.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>                        
                <td>
                    "Sampling Representative Examples for Dimensionality Reduction and Recognition - Bootstrap
                    Bumping LDA"<br>
                    H. Gao and <strong>J. Davis</strong><br>
                    <em>European Conference on Computer Vision (ECCV)</em>, Graz, Austria, May 7-13, 2006, Part III, LNCS 3953, pp. 275-287.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/eccv06.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Why Direct LDA Is Not Equivalent to LDA"<br>
                    H. Gao and <strong>J. Davis</strong><br>
                    <em>Pattern Recognition</em>, Vol. 39, 2006, pp. 1002-1006.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/pr06.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2005</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Event Template Hierarchies as Means for Human-Automation Collaboration in Security Surveillance"<br>
                    D. Woods, S. McNee, <strong>J. Davis</strong>, A. Morison, P. Maughan, and K. Christoffersen<br>
                    <em>Human Factors and Ergonomics Society Annual Meeting</em>, Orlando, FL, September 26-28, 2005.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/eventTemplates05.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Modeling Behavior Trends and Detecting Abnormal Events using Seasonal
                    Kalman Filters"<br>
                    <strong>J. Davis</strong> and M. Keck<br>
                    <em>Workshop on Human Activity Recognition and Modeling</em>, Oxford, UK,  September 9, 2005.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/harem05.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Fusion-based Background-Subtraction using Contour Saliency"<br>
                    <strong>J. Davis</strong> and V. Sharma<br>
                    <em>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum</em>, 
                    San Diego, CA, June 20, 2005.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/otcbvs05.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "A Two-Stage Template Approach to Person Detection in Thermal Imagery"<br>
                    <strong>J. Davis</strong> and M. Keck<br>
                    <em>Workshop on Applications of Computer Vision</em>,  Breckenridge, Colorado, January 5-7, 2005.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/wacv05.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>
            
    <details>
        <summary>2004</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Differential Video Coding of Face and Gesture Events in Presentation Videos"<br>
                    R. Tan and <strong>J. Davis</strong><br>
                    <em>Computer Vision and Image Understanding</em>, Vol. 96, No. 2, 2004, pp. 200-215.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/cviu04.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Robust Detection of People in Thermal Imagery"<br>
                    <strong>J. Davis</strong> and V. Sharma<br>
                    <em>International Conference on Pattern Recognition</em>,
                    Cambridge, United Kingdom, August 23-26, 2004, pp. 713-716.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/icpr04.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Sequential Reliable-Inference for Rapid Detection of Human Actions"<br>
                    <strong>J. Davis</strong><br>
                    <em>IEEE Workshop on Detection and Recognition of Events in Video</em>,
                    Washington DC, July 2, 2004.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/event04.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Robust Background-Subtraction for Person Detection in Thermal Imagery"<br>
                    <strong>J. Davis</strong> and V. Sharma<br>
                    <em>IEEE International Workshop on Object Tracking and Classification 
                    Beyond the Visible Spectrum</em>, Washington DC, July 2, 2004.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/otcbvs04.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Gender Recognition from Walking Movements using Adaptive Three-Mode PCA"<br>
                    <strong>J. Davis</strong> and H. Gao<br>
                    <em>IEEE Workshop on Articulated and Nonrigid Motion</em>, Washington DC, June 27, 2004.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/anm04.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "An Expressive Three-Mode Principal Components Model for Gender Recognition"<br>
                    <strong>J. Davis</strong> and H. Gao<br>
                    <em>Journal of Vision</em>, Vol. 4, No. 5, 2004, pp. 362-377.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/jov04.pdf"><span class="material-icons">picture_as_pdf</span></a>, 
                    <a href="http://www.journalofvision.org/4/5/2/"><span class="material-icons">open_in_new</span></a>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2003</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "An Expressive Three-Mode Principal Components Model of Human
                    Action Style"<br>
                    <strong>J. Davis</strong> and H. Gao<br>
                    <em>Image and Vision Computing</em>, Vol. 21, No. 11, 2003, pp. 1001-1016.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/ivc03.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Recognizing Human Action Efforts: An Adaptive Three-Mode PCA Framework"<br>
                    <strong>J. Davis</strong> and H. Gao<br>
                    <em>International Conference on Computer Vision</em>, Nice, France,
                    October 13-16, 2003, pp. 1463-1469.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/iccv03.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "A Reliable-Inference Framework for Recognition of Human Actions"<br>
                    <strong>J. Davis</strong> and A. Tyagi<br>
                    <em>IEEE International Conference on Advanced Video and Signal Based Surveillance</em>,
                    Miami, Florida, July 21-22, 2003, pp. 169-176.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/avss03.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2002</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "A Three-Mode Expressive Feature Model of Action Effort"<br>
                    <strong>J. Davis</strong>, H. Gao, and V. Kannappan<br>
                    <em>IEEE Workshop on Motion and Video Computing</em>, Orlando, Florida, December 5-6, 2002, pp. 139-144.<br>
                    <span class="material-icons">star</span><strong> Best Paper Award </strong><span class="material-icons">star</span><br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/motion02.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Motion Segmentation and Pose Recognition with Motion History Gradients"<br>
                    G. Bradski and <strong>J. Davis</strong><br>
                    <em>International Journal of Machine Vision and Applications</em>, Vol. 13, No. 3, 2002, pp. 174-184.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/mva02.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Analysis and Recognition of Walking Movements"<br> 
                    <strong>J. Davis</strong> and S. Taylor<br> 
                    <em>International Conference on Pattern Recognition</em>, Quebec City, Canada, August 11-15, 2002, pp. 315-318.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/icpr02.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Expressive Features for Movement Exaggeration"<br>
                    <strong>J. Davis</strong> and V. Kannappan<br>
                    <em>SIGGRAPH Conference Abstracts and Applications (Technical Sketches)</em>, San Antonio, Texas, July 24, 2002, pp. 182.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/sketch02.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2001</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "The Representation and Recognition of Action Using Temporal Templates"<br>
                    A. Bobick and <strong>J. Davis</strong><br>
                    <em>IEEE Transactions on Pattern Analysis and Machine Intelligence</em>, Vol. 23, No. 3, 2001, pp. 257-267.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/pami01.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>                        
                <td>
                    "A Perceptual User Interface for Recognizing Head Gesture Acknowledgements"<br>
                    <strong>J. Davis</strong> and S. Vaks<br>
                    <em>ACM Workshop on Perceptual User Interfaces</em>, Orlando, Florida, November 15-16, 2001.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/PUI2001-Davis.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Representing and Recognizing Human Motion: From Motion Templates to Movement Categories"<br>
                    <strong>J. Davis</strong><br>
                    <em>Digital Human Modeling Workshop</em>, International Conference on Intelligent Robots and Systems, Maui, Hawaii, October 29, 2001.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/iros.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Hierarchical Motion History Images for Recognizing Human Motion"<br>
                    <strong>J. Davis</strong><br>
                    <em>IEEE Workshop on Detection and Recognition of Events in Video</em>, Vancouver, Canada, July 8, 2001, pp. 39-46.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/event01.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Visual Categorization of Children and Adult Walking Styles"<br>
                    <strong>J. Davis</strong><br>
                    <em>International Conference on Audio- and Video-based Biometric Person Authentication</em>, Halmstad, Sweden, June 6-8, 2001, pp. 295-300.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/avbpa01.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>2000</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Physically Interactive Story Environments"<br>
                    C. Pinhanez, <strong>J. Davis</strong>, S. Intille, M. Johnson, A. Wilson, A. Bobick, and B. Blumberg<br>
                    <em>IBM Systems Journal</em>, Vol. 39, No. 3/4, 2000, pp. 438-455.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/ibmpaper.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Motion Segmentation and Pose Recognition with Motion History Gradients"<br>
                    G. Bradski and <strong>J. Davis</strong><br>
                    <em>IEEE Workshop on Applications of Computer Vision</em>, December 2000, pp. 174-184.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/wacv00.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Categorical Representation and Recognition of Oscillatory Motion Patterns"<br>
                    <strong>J. Davis</strong>, A. Bobick, W. Richards<br>
                    <em>IEEE Conference on Computer Vision and Pattern Recognition</em>, June 2000, pp. 628-635.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/cvpr2000.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Relating Categories of Intentional Animal Motions"<br>
                    <strong>J. Davis</strong> and W. Richards<br>
                    OSU Dept. Computer and Information Science Technical Report OSU-CISRC-11/00-TR25, November 2000.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/OSU-TR25.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>1999</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "The Kidsroom: A Perceptually-Based Interactive and Immersive Story Environment"<br>
                    A. Bobick, S. Intille, <strong>J. Davis</strong>, F. Baird, C. Pinhanez, L. Campbell, Y. Ivanov, A. Schutte, and A. Wilson<br>
                    <em>Presence: Teleoperators and Virtual Environments</em>, Vol. 8, No. 4, 1999, pp. 367-391.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/kidsroom.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Toward 3-D Gesture Recognition"<br>
                    <strong>J. Davis</strong> and M. Shah<br>
                    <em>International Journal of Pattern Recognition and Artificial Intelligence</em>, Volume 13 Number 3, May 1999, pp. 381-393.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/ijprai.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Real-time Motion Template Gradients using Intel CVLib"<br>
                    <strong>J. Davis</strong> and G. Bradski<br>
                    <em>IEEE ICCV Workshop on Frame-rate Vision</em>, September 1999.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/motiontemplategradient.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Recognizing Movement using Motion Histograms"<br>
                    <strong>J. Davis</strong><br>
                    MIT Technical Report #487, March 1999.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/TR-487.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>
                    
    <details>
        <summary>1998</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "A Robust Human-Silhouette Extraction Technique for Interactive Virtual Environments"<br>
                    <strong>J. Davis</strong> and A. Bobick<br>
                    In <em>Lecture Notes in Artificial Intelligence</em> (Ed. by N. Magnenat-Thalmann &amp; D. Thalmann), 1537, Heidelberg: Springer-Verlag, 1998, pp. 12-25.<br>
                    <em>(IFIP Workshop on Modeling and Motion Capture Techniques for Virtual Environments, 1998.)</em><br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/captech98.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Virtual PAT: A Virtual Personal Aerobics Trainer"<br>
                    <strong>J. Davis</strong> and A. Bobick<br>
                    <em>Workshop on Perceptual User Interfaces</em>, November 1998, pp. 13-18.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/pui98.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Perceptive Spaces for Performance and Entertainment"<br>
                    C. Wren, F. Sparacino, A. Azarbayejani, T. Darrell, <strong>J. Davis</strong>, T. Starner, A. Kotani, C. Chao, M. Hlavac, K. Russell, A. Bobick, and A. Pentland<br>
                    <em>ATR Workshop on Virtual Communication Environments</em>, April 1998.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/TR-372B.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Design Decisions for Interactive Environments: Evaluating the KidsRoom Application Using a Deep Perceptual Interface"<br>
                    A. Bobick, S. Intille, <strong>J. Davis</strong>, F. Baird, C. Pinhanez, L. Campbell, Y. Ivanov, A. Schutte, and A. Wilson<br>
                    <em>AAAI Spring Symposium on Intelligent Environments</em>, March 1998, pp. 7-16.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/ie.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>1997</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "The KidsRoom: An Example Application Using a Deep Perceptual Interface"<br>
                    A. Bobick, <strong>J. Davis</strong>, S. Intille<br>
                    <em>Workshop on Perceptual User Interfaces</em>, October 1997, pp. 1-4.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/pui97.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "The Representation and Recognition of Action Using Temporal Templates"<br>
                    <strong>J. Davis</strong> and A. Bobick<br>
                    <em>IEEE Conference on Computer Vision and Pattern Recognition</em>, June 1997, pp. 928-934.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/TR-402.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Real-Time Closed-World Tracking"<br>
                    S. Intille, <strong>J. Davis</strong>, and A. Bobick<br>
                    <em>IEEE Conference on Computer Vision and Pattern Recognition</em>, June 1997, pp. 697-703.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/TR-403.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Action Recognition Using Temporal Templates"<br>
                    A. Bobick and <strong>J. Davis</strong><br>
                    In M. Shah and R. Jain (eds.) <em>Motion-Based Recognition</em>, 1997, pp. 125-146.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/motrec.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>

    <details>
        <summary>1996</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Real-time Recognition of Activity Using Temporal Templates"<br>
                    A. Bobick and <strong>J. Davis</strong><br>
                    <em>IEEE Workshop on Applications of Computer Vision</em>, December 1996, pp. 39-42.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/TR-386.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "An Appearance-based Representation of Action"<br>
                    A. Bobick and <strong>J. Davis</strong><br>
                    <em>IEEE International Conference on Pattern Recognition</em>, August 1996, pp. 307-312.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/TR-369.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
        </table>
    </details>
            
    <details>
        <summary>1994</summary>
        <table class = "pubtable">
            <tr>
                <td>
                    "Visual Gesture Recognition"<br>
                    <strong>J. Davis</strong> and M. Shah<br>
                    <em>Vision, Image and Signal Processing</em>, Vol. 141, No. 2, 1994, pp. 101-106.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/visp.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                    "Recognizing Hand Gestures"<br>
                    <strong>J. Davis</strong> and M. Shah<br>
                    <em>European Conference on Computer Vision</em>, 1994, pp. 331-340.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/eccv.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
            </tr>
            <tr>
                <td>
                    "Determining 3-D Hand Motion"<br>
                    <strong>J. Davis</strong> and M. Shah<br>
                    <em>IEEE Asilomar Conference on Signals, Systems, and Computers</em>, October 1994, pp. 1262-1266.<br>
                    <a href="https://web.cse.ohio-state.edu/~davis.1719/Publications/asilomar.pdf"><span class="material-icons">picture_as_pdf</span></a><br>
                </td>
                <td>
                </td>
            </tr>
    </table>
    </details>
</div>