---
title: "James W. Davis, Teaching"
---
<!-- File created 10/18 by Quantez Merchant 
     File edited 10/20 by Quantez Merchant: Removed outdated css
     File edited 10/21 by Quantez Merchant: Added partial 
     File edited 10/23 by Quantez Merchant: Added title data -->  

<div class ="dropdowns">
  <h1>Teaching</h1>
  <%= partial "teaching" %>
</div>